[package]
name = "umass_events_discord"
version = "0.1.0"
edition = "2018"
authors = ["gbear605 <developer@vivissi.com>"]

[dependencies]
serenity = "0.5"
telegram-bot-fork = "0.7"
reqwest = "0.8.8"
select = "0.4.2"
chrono = "0.4.6"
openssl-probe = "0.1.2"
tokio = "^0.1"
futures = "^0.1"
